<div class="container p-3 padding-bottom: 100rem;">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md" style="width: 280px;">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Dashboard</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm" id="color">
            <div>
              <h6 class="my-0">
                <a href="#" class="nav-link p-0 text-bold">Home</a></h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm" id="color">
            <div>
              <h6 class="my-0"><a href="#" class="nav-link p-0 text-bold">Services</a></h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm" id="color">
            <div>
              <h6 class="my-0"><a href="#" class="nav-link p-0 text-bold">Portfolio</a></h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm" id="color">
            <div>
              <h6 class="my-0"><a href="#" class="nav-link p-0 text-bold">Careers</a></h6>
            </div>
          </li>
        </ul>

      </div>
      <div class="col-md-7 col-lg-8" style="margin-bottom: 15rem;">
        <h4 class="mb-3 text-primary" style="text-align: center;" id="bigtitle">How We Can Help</h4>
        <form class="needs-validation" validate [formGroup]="alphaForm">
          <div class="row g-3">
            <div class="col-12">
              <label for="talent" class="form-label">Talent Solutions</label>
              <input (input)="isFormValid(); isAnyInputValid()" type="text" class="form-control"  formControlName="talent" id="talent" name="talent" id="title" placeholder="talent is ready" required>
            </div>
            <div class="col-12">
              <label for="custom" class="form-label">Custom Software</label>
              <input (input)="isFormValid(); isAnyInputValid()" type="text" class="form-control"  formControlName="custom" id="custom" id="title" placeholder="have it your way" required>
            </div>
            <div class="col-12">
              <label for="cloud" class="form-label">Cloud Services</label>
              <input (input)="isFormValid(); isAnyInputValid()" type="text" class="form-control"  formControlName="cloud" id="cloud" id="title" placeholder="Begin your cloud journey" required>
            </div>
            <div class="col-12">
              <label for="cloud" class="form-label">Automation</label>
              <input (input)="isFormValid(); isAnyInputValid()" type="text" class="form-control"  formControlName="automation" id="automation" id="title" placeholder="Improve operations" required>
            </div>
          </div>
          <hr class="my-4">
          <div>
            <button class=" btn btn-outline-danger btn-md px-5 ms-lg-5" type="reset" id="btnReset"
            [disabled]="isAnyValid" (click)="resetButton()">Reset</button>
            <button class=" btn btn-outline-success btn-md  px-5 ms-lg-5" type="submit"
            [disabled]="!isValid"
            routerLink="">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

